.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  text-align: center;
  justify-content: center;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

.footer__address {
  font-style: normal;
}

.footer__title {
  margin-top: 0;
}
