.header {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.header--atTop {
  background-color: var(--black);
}

.header__end {
  display: flex;
  gap: 20px;
}

.header--atTop .header__search {
  filter: none;
}

.header__logo {
  display: block;
}
