.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: var(--space2x) var(--space2x);
  transition: all 0.3s ease-in-out;
}

.header__end {
  display: flex;
  gap: var(--space2x);
}

.header__logo {
  display: block;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}
