.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.carrousel_ecran {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
}
.carrousel_ecran figure {
  margin: 0;
}

.carrousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.carrousel_btn {
  position: absolute;
  top: calc(min(500px, 100vw) / 16 * 9 / 2 + 1rem);
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: darkslateblue;
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
}

.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}

.caroussel_liste-liens {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.caroussel_lien {
  cursor: pointer;
  background-color: rgb(69, 117, 117);
  margin: 14px;
  padding: 8px;
  color: black;
  border-radius: 5px;
}

.actif {
  background-color: skyblue;
  color: black;
  font-weight: bold;
}
