.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  font-size: var(--h2);
}

.menu--open {
  visibility: visible;
  opacity: 1;
}

.menu__list {
}

.menu__item {
}

.menu__link {
  color: var(--white);
  text-decoration: none;
}
