.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  font-size: var(--h2);
}

.menu--open {
  visibility: visible;
  opacity: 1;
}

.menu__list {
}

.menu__item {
}

.menu__link {
  color: var(--white);
  text-decoration: none;
}

.menu-btn {
  position: relative;
  z-index: 3;
  width: 30px;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: "";
  background-color: var(--white);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: var(--white);
}
